
@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script type="text/javascript">
        function OnMapReady() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(ShowCurrentPosition, ShowError);
            } else {
                alert("Geolocation is not supported by this browser");
            }
        }
    </script>
    <script src="~/Scripts/viewMap.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL2-GdkImuJBdTdPbwgjlFbRMoLuY4gkQ&callback=OnMapReady"></script>
}
<h2>Index</h2>

<div id="mapDiv" style="min-width:300px;min-height:400px;width:100%;height:100%;background-color:gainsboro;">
    Google Map with current position
</div>
